<div class="inner cover">
    <h1 class="cover-heading">Welcome</h1>
    <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet iure magni at. Maiores, enim, amet, laboriosam quis illo adipisci ipsum inventore illum quos provident blanditiis.</p>
    <p class="lead">
        <%= link_to "About me", about_me_path, class: "btn btn-lg btn-secondary"%>
    </p>
</div>


  